.botonAgregarEmpleado {
    font-size: 105%;
    height: 50px;
}

ion-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content : center;
  }

.bien {
    background-color: white;
}

.divs {
    height: 15%;
}

.icono1 {
    margin-top: 4%;
    width: 40%;
    height: 40%;
}

ion-badge {
    width: 70%;
    height: 25%;
    margin-top: 2%;
    font-size: large;
}