ion-badge {
    width: 80%;
    height: 50%;
    font-size: large;
}

.icono1 {
    width: 80%;
    height: 80%;
}

.ion-item {
    --border-color: var(--ion-color-primary) !important;
}

.bien {
    background-color: white;
}