.masleft {
    margin-left: 5%;
}
.advertencia {
    color: red;
    font-size: smaller;
}

.boton1 {
    width: 90%;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 50%;
}