<app-header-general titulo="Recuperacion de contraseña" ruta="/login"></app-header-general>

<ion-content>
  <ion-item lines="none"> 
    <ion-label class="explicacion ion-text-wrap">Ingresa tu numero de empleado y tu 
      fecha de nacimiento para recuperar contraseña</ion-label>
  </ion-item>

  <ion-item class="imagen" lines="none">
    <img src="/assets/images/Password.svg">
  </ion-item>

  <form #formulario="ngForm">
    <ion-item lines="none">
      <app-boton-info titulo="Numero de empleado" color="medium"></app-boton-info>
      <ion-input class="masleft"
                 type="number" 
                 placeholder="Num. Empleado" 
                 [(ngModel)]="numero" 
                 name="numero"
                 required>
                </ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <app-boton-info titulo="Fecha de nacimiento" color="medium"></app-boton-info>
      <ion-datetime displayFormat="MMM DD, YYYY"
                    placeholder="Fecha Nacimiento"
                    monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                    doneText="Guardar"
                    cancelText="Cancelar"
                    [(ngModel)]="dateTime"
                    name="nacimiento"
                    (ionChange)="nacimientoChange($event)">
                  </ion-datetime>
    </ion-item>

    <ion-item *ngIf="error" lines="none" class="menosTop">
      <ion-label class="centrar ion-text-wrap advertencia">
        {{textoError}}
      </ion-label>
    </ion-item>
  
    <ion-button class="centrari boton1"[disabled]="formulario.invalid || this.nacimientoV" (click)="recuperar()">Recuperar</ion-button>
  </form>

</ion-content>
