<ion-router-outlet id="supervisor"></ion-router-outlet>
<ion-header no-border>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button menu="supervisor"></ion-menu-button>
    </ion-buttons>

    <ion-title>Global Fhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start"
          menuId="supervisor"
          contentId="supervisor">
  
  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-menu-toggle>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="/assets/images/Logo.JPG">
        </ion-avatar>
        <ion-label>{{usuario.nombre}}</ion-label>
      </ion-item>
        
      </ion-menu-toggle>
      
      <ion-list>
        <ion-menu-toggle *ngFor="let opcion of supervisor">
          <ion-item (click)="redirigir(opcion.nombre, opcion.irA)">
            <ion-icon color="primary" 
                      [name]="opcion.icono" 
                      slot="start"
                      class="masleft"></ion-icon>
            <ion-label>{{opcion.nombre}}</ion-label>
          </ion-item>

        </ion-menu-toggle> 
      </ion-list>

  </ion-content>
</ion-menu>

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segment($event)" value="Informacion">
        <ion-segment-button value="Informacion">
          <ion-label>Informacion</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Asignaciones">
          <ion-label>Asignaciones</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Asistencias">
            <ion-label>Asistencias</ion-label>
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>

  <ion-item lines="none"> 
    <ion-badge color="primary" class="centrari">{{titulo}}</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-icon [name]="icono" color="primary" class="centrari icono1"></ion-icon>
  </ion-item>

</ion-content>
