<app-header-modal titulo ="Agregar Nuevo Empleado" ruta ="/home-rh"></app-header-modal>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label class="ion-text-wrap">Tipo de empleado</ion-label>
            <ion-select interface="popover" [(ngModel)] = "this.usuarioAgregar.tipo" (ionChange)="tipoDeEmpleado($event)">
                <ion-select-option value="Elemento seguridad">Elemento de seguridad</ion-select-option>
                <ion-select-option value="Supervisor">Supervisor</ion-select-option>
                <ion-select-option value="RH">Recursos humanos</ion-select-option>
                <ion-select-option value="Directivo">Directivo</ion-select-option>
                <ion-select-option value="Recursos materiales">Recursos materiales</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
    
            <ion-label>Numero de empleado</ion-label>
    
                <ion-input type="number"
                    [(ngModel)]="this.usuarioAgregar.numero"
                    name="numero"
                    required>
                </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>Nombre</ion-label>
    
                <ion-input type="text"
                    [(ngModel)]="this.usuarioAgregar.nombre"
                    name="nombre"
                    required>
                </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>Fecha de nacimiento: </ion-label>
    
            <ion-datetime class="margentexto"
            displayFormat="MMM DD, YYYY"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
            [(ngModel)]="this.fechaDeNacimiento">
          </ion-datetime>

        </ion-item>

        <ion-item>
    
            <ion-label>Domicilio</ion-label>
    
                <ion-input type="text"
                    [(ngModel)]="this.usuarioAgregar.domicilio"
                    name="domicilio"
                    required>
                </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>Celular</ion-label>
    
                <ion-input type="number"
                    [(ngModel)]="this.usuarioAgregar.celular"
                    name="celular"
                    required>
                </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>CURP</ion-label>
    
            <ion-input type="text"
                [(ngModel)]="this.usuarioAgregar.CURP"
                name="CURP"
                required>
            </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>RFC</ion-label>
    
            <ion-input type="text"
                [(ngModel)]="this.usuarioAgregar.RFC"
                name="RFC"
                required>
            </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>NSS</ion-label>
    
            <ion-input type="text"
                [(ngModel)]="this.usuarioAgregar.NSS"
                name="NSS"
                required>
            </ion-input>

        </ion-item>

        <ion-item>
    
            <ion-label>Fecha de ingreso: </ion-label>
    
          <ion-datetime class="margentexto"
            displayFormat="MMM DD, YYYY"
            monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
            [(ngModel)]="this.fechaDeIngreso">
          </ion-datetime>

        </ion-item>

        <ion-item>
    
            <ion-label>Contraseña</ion-label>
    
            <ion-input type="text"
                [(ngModel)]="this.contrasena"
                name="contrasena"
                required>
            </ion-input>

        </ion-item>

        <ion-item lines="none">
    
            <ion-label>Estado de papeleria</ion-label>

            <ion-radio-group required (ionChange)="radios($event)">
                    <ion-item lines="none">
                        <ion-radio color="success" value="completa"></ion-radio>
                            <ion-label class="margen_izquierda_15">Completa</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio color="danger" value="incompleta"></ion-radio>
                            <ion-label class="margen_izquierda_15">Incompleta</ion-label>
                    </ion-item>
            </ion-radio-group>

        </ion-item>

    <div *ngIf="this.usuarioAgregar.tipo == 'Elemento'">

    </div>

        <ion-button expand="full" (click)="agregarNuevoEmpleado()" class="botonAgregarEmpleado">Agregar Empleado</ion-button>

    </ion-list>

</ion-content>
