<app-header-modal titulo ="Agregar Nuevo Empleado" ruta ="/home-rh"></app-header-modal>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label class="ion-text-wrap">Tipo de empleado</ion-label>
            <ion-select interface="popover" [(ngModel)] = "tipoEmpleado" (ionChange)="tipoDeEmpleado($event)">
                <ion-select-option value="Elemento">Elemento de seguridad</ion-select-option>
                <ion-select-option value="RH">Recursos humanos</ion-select-option>
                <ion-select-option value="Supervisor">Supervisor</ion-select-option>
                <ion-select-option value="Directivo">Directivo</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
    
            <ion-label>Nombre</ion-label>
    
                <ion-input type="text"
                    [(ngModel)]="hola"
                    name="nombre"
                    required>
                </ion-input>
        </ion-item>

    </ion-list>

</ion-content>
