<ion-skeleton-text animated="true" style="height: 8%;"></ion-skeleton-text>
<br>
<ion-skeleton-text animated="true" style="height: 3%; width: 60%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 8%; width: 14%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 5%; width: 80%;" class="centrar"></ion-skeleton-text>
<br>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>
<ion-skeleton-text animated="true" style="height: 10%; width: 90%;" class="centrar"></ion-skeleton-text>