/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.centrar
{
  text-align: center;
}

.centrari
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.explicacion {
  color: var(--ion-color-medium) !important;
  text-align: center;
}

//header
.alert-head.sc-ion-alert-ios {
  background-color: var(--ion-color-primary) !important;
}

.alert-title.sc-ion-alert-ios {
  color: white !important;
  margin-bottom: 3%;
}
  
  //dimensiones del message y el texto
  .alert-message.sc-ion-alert-ios{
    //margin-top: 35px;
    min-height: 73%;
    max-height: 100%;
    height: 90%;
    font-size: 100%;
    background-color: white;
    text-align: start;
  }
  
  //la alerta en general
  .alert-wrapper.sc-ion-alert-ios{
    height: 60%;
    width: 80%;
    min-width: 0%;
    max-width: 80%;
  }
  
  //seccion de botones
  .alert-button-group.sc-ion-alert-ios{
    //font-size: 75%;
    height: 20%;
    //width: 100%;
    //display: block;
    background-color: #3880ff;
  }
  
  //botones en si
  .alert-button.sc-ion-alert-ios{
    height: 100%;
  }

  //texto dentro de los botones
  .alert-button-inner.sc-ion-alert-ios{
    font-size: 120%;
    color: white;
  }
